@media (max-width: 480px){
   *{
    margin: 0px;
    padding: 0px;
   }
    header{
        background-color:#3b3b3b ;
        color: #ffff;
        margin: 0px;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left:10px;
        .img{
            width: 25px;
        }
    }
    .aza{
     width: 480px;
    }
    .div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: #ffff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin: 20px 0 20px 10px;
    }
    button{
       right: 50px;
       background-color: red;
       color: #ffff;
       padding: 15px;
       border-radius: 15px;
       border: 0px;
       margin-right: 20px;
    }
    .img2{
        width: 50px;
        margin-right: 20px;
    }
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: "Raleway", sans-serif;
        background-color: black;
    }
    h1{
      display: flex;
      justify-content: center;
      font-size: 4rem;
      margin: 0 0 5px 0 ;
    }
   
}
*{
    margin: 0px;
    padding: 0px;
   }
    header{
        background-color:#3b3b3b ;
        color: #ffff;
        margin: 0px;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left:10px;
        .img{
            width: 25px;
        }
    }
    .aza{
     width: 480px;
    }
    .div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: #ffff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin: 20px 0 20px 10px;
    }
    button{
       right: 50px;
       background-color: red;
       color: #ffff;
       padding: 15px;
       border-radius: 15px;
       border: 0px;
       margin-right: 20px;
    }
    .img2{
        width: 50px;
        margin-right: 20px;
    }
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: "Raleway", sans-serif;
        background-image: url(https://cdn.stocksnap.io/img-thumbs/280h/colorful-bokeh_2END49TZPS.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1{
      display: flex;
      justify-content: center;
      font-size: 4rem;
      margin: 0 0 5px 0 ;
    }
    section{
        width: 480px;
       margin: 0 auto;
       background-color: black;
    }
